/* 重置默认边距，撑满视口 */
html, body {
  background: url('../images/淘宝店铺忧忧素材库\ \(987\).gif') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden; /* 禁止横向滚动 */
  margin: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
img, table, pre, code, div, section, header, main, footer {
  max-width: 100%;
  box-sizing: border-box;
}
/* 让 body 变成 flex 容器，垂直排列 */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 整个视口高度 */
  width: 100vw;  /* 整个视口宽度 */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

/* header 固定高度 */
header {
  flex: 0 0 60px; /* 不伸缩，高度60px */
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */

}

/* main 填充剩余空间 */

.index-title {
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  
  background: linear-gradient(to right, #cf8dff, #4affb4);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */

  /* 兼容 Firefox（有些版本不支持） */
  background-clip: text;
  color: transparent;
}
.card {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

:root {
  --primary-color: #cf8dff; 
}

a {
  color: var(--primary-color);
}

.toc {
  background: #f9f9f9;
  padding: 15px 20px;
  border-left: 4px solid #ac8160;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 5px;
}

.toc a {
  color: #444;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

/* footer 固定高度 */
footer {
  flex: 0 0 40px;  /* 不伸缩，固定高度40px */
  background-color: transparent;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-size: 14px;
  color: #999;
}

